<div id="attendance-tab" class="tab-content">
    <h1>Lịch sử chấm công</h1>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Ngày</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.data}}
                <tr>
                    <td>{{formatDate this.date}}</td>
                    <td>{{formatTime this.checkIn}}</td>
                    <td>{{formatTime this.checkOut}}</td>
                    <td data-status="{{this.status}}"><span>{{formatAttendanceStatus this.status}}</span></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="pagination">
        <p>{{formatPagination data}}</p>
        <input type="text" name="pagination" hidden>
        <input type="checkbox" name="lastPage" checked="{{isLastPage data}}" hidden>
        <div>
            <button id="pg-button-prev" type="button" class="pagination__button">
                <i class="fa fa-chevron-left"></i>
            </button>

            <button id="pg-button-next" type="button" class="pagination__button">
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>