<h1 class="title">Danh sách nhân viên</h1>

<div class="employee-list-header">
    <div class="search-container">
        <input type="text" class="search-input" name="search" placeholder="Tìm kiếm...">
        <button class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <a href="/employee/create" class="create-new">Tạo nhân viên mới</a>
</div>

<div class="employee-list">
    <table>
        <thead>
            <tr>
                <th>STT</th>
                <th>Họ và tên</th>
                <th>Tên đăng nhập</th>
                <th>Ngày vào công ty</th>
                <th>Chức vụ</th>
            </tr>
        </thead>
        <tbody>
            {{#each data.data}}
            <tr>
                <td><a href="/employee/{{this.username}}">{{@index}}</a></td>
                <td><a href="/employee/{{this.username}}">{{this.name}}</a></td>
                <td><a href="/employee/{{this.username}}">{{this.username}}</a></td>
                <td><a href="/employee/{{this.username}}">{{formatDate this.joinAt}}</a></td>
                <td><a href="/employee/{{this.username}}">{{formatPosition this.role}}</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>