<div id="attendance-tab" class="tab-content">
    <h1>Lịch sử chấm công</h1>
    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Ngày</th>
                    <th>Giờ vào</th>
                    <th>Giờ ra</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{formatDate this.date}}</td>
                    <td>{{formatTime this.checkIn}}</td>
                    <td>{{formatTime this.checkOut}}</td>
                    <td data-status="{{this.status}}"><span>{{formatAttendanceStatus this.status}}</span></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>