<div id="information-tab" class="tab-content">
    <h1>Thông tin cá nhân</h1>
    <div class="avatar-wrapper">
        <img src="{{#if data.user.avatar}}{{data.user.avatar}}{{else}}https://via.placeholder.com/200{{/if}}" alt="Avatar">
        <label for="avatar">
            <p>Chọn ảnh đại diện</p>
        </label>
    </div>
    <form enctype="multipart/form-data" method="post">
        <input type="file" id="avatar" name="avatar" hidden>
        <label for="name">Họ và tên:</label>
        <input type="text" id="name" name="name" value="{{data.user.name}}">

        <label for="joinAt">Ngày vào công ty:</label>
        <input type="date" id="joinAt" name="joinAt" value="{{formatDateInput data.user.joinAt}}">

        <label for="role">Chức vụ:</label>
        <select name="role" id="role">
            {{#each data.roles}}
            <option value="{{this}}" {{checkSelected this ../data.user.role}}>{{formatPosition this}}</option>
            {{/each}}
        </select>

        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" value="{{data.user.username}}" disabled>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{data.user.email}}">

        <label for="dob">Ngày sinh:</label>
        <input type="date" id="dob" name="dob" value="{{formatDateInput data.user.dob}}">

        <label for="sex">Giới tính:</label>
        <select name="sex" id="sex">
            {{#each data.sex}}
            <option value="{{this}}" {{checkSelected this ../data.user.sex}}>{{formatGender this}}</option>
            {{/each}}
        </select>

        <label for="phoneNumber">Số điện thoại:</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" value="{{data.user.phoneNumber}}">

        <label for="address">Địa chỉ:</label>
        <input type="text" id="address" name="address" value="{{data.user.address}}">

        <button type="submit">Lưu thay đổi</button>
    </form>
</div>