<div id="project-tab" class="tab-content">
    <h1>Dự án đã tham gia</h1>
    {{#each data}}
    <a class="project-card" href="/project/{{this.id}}/edit">
        <div class="project-header">
            <h2 class="project-name">{{this.name}}</h2>
            <p class="project-status" data-status="{{this.status}}">{{formatProjectStatus this.status}}</p>
        </div>
        <div>
            <div class="project-tags">
                {{#each this.skills}}
                <p class="project-tag">{{this.name}}</p>
                {{/each}}
            </div>
            <p class="project-date"><i class="fas fa-calendar-alt"></i> {{formatDate this.startAt}} - {{formatDate
                this.finishAt}}</p>
        </div>
    </a>
    {{/each}}
</div>