<h1 class="title">Danh sách sự kiện</h1>

<div class="event-list-header">
    <form class="search-container">
        <input type="text" class="search-input" name="search" placeholder="Tìm kiếm...">
        <i class="fa fa-search search-btn"></i>
    </form>
    <a href="/event/create" class="create-new">Tạo sự kiện mới</a>
</div>

<div class="event-list">
    {{#each data.data}}
    <div class="event-item">
        <div class="event-item__header">
            <h2 class="event-item__title">{{this.name}}</h2>
            <p class="event-item__expiration">Thời gian hết hạn đăng ký: {{formatDateDistanceLeftFromNow this.expiredAt}} ngày</p>
        </div>
        <div class="event-item__details">
            <p class="event-item__createAt">Thời gian tạo: {{formatDateTime this.createAt}}</p>
            <p class="event-item__holdtime">Thời gian diễn ra sự kiện: {{formatDateDistance this.from this.to}}</p>
            <p class="event-item__participants">Số người tham gia: {{this.participants.length}} người</p>
            <p class="event-item__address">Địa điểm: {{this.address}}</p>
        </div>
        <div class="event-item__footer">
            <a href="/event/edit/{{this.id}}" class="event-item__edit-button">Chỉnh sửa</a>
        </div>
    </div>
    {{/each}}
</div>