<h1 class="title">Danh sách bản tin</h1>

<div class="news-list-header">
    <form class="search-container">
        <input type="text" class="search-input" name="key_search" placeholder="Tìm kiếm...">
        <i class="fa fa-search search-btn"></i>
    </form>
    <a href="/news/create" class="create-new">Tạo bản tin mới</a>
</div>

<div class="news-list">
    {{#each data.data}}
    <div class="news-item">
        <div class="news-item__thumbnail">
            <img src="{{#if this.thumbnail}}{{this.thumbnail}}{{else}}https://via.placeholder.com/100x60{{/if}}"
                alt="News Image">
        </div>
        <div class="news-item__details">
            <div>
                <h2 class="news-item__name">{{this.name}}</h2>
                <p class="news-item__create-at">{{formatDateTime this.createAt}}</p>
            </div>
            <div class="news-item__footer">
                <a href="/news/{{this.id}}/edit" class="news-item__edit-btn">Chỉnh sửa</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>