<div class="container">
    <h1>{{title}}</h1>
    <form enctype="multipart/form-data" method="post">
        <label for="thumbnail">Ảnh bìa:</label>
        <input type="file" id="thumbnail" name="thumbnail">
        <img id="thumbnail-preview" {{#if data.news.thumbnail}}src="{{data.news.thumbnail}}" {{/if}}
            alt="Image Preview" style="display:none;">

        <label for="name">Tên bản tin:</label>
        <input type="text" id="name" name="name" value="{{data.news.name}}">

        <label for="content">Nội dung:</label>
        <input type="text" class="content" value="{{data.news.content}}" hidden>
        <div id="content" name="content"></div>

        <button type="submit">{{#if edit}}Chỉnh sửa{{else}}Tạo mới{{/if}}</button>
    </form>
</div>