<div class="container">
    <h1>{{title}}</h1>
    <form method="post">
        <label for="name">Tiêu đề:</label>
        <input type="text" id="name" name="name" value="{{data.name}}" {{#if create}}required{{else}}disabled{{/if}}>

        <label for="content">Nội dung:</label>
        <textarea type="date" id="content" name="content" {{#if
            create}}required{{else}}disabled{{/if}}>{{data.content}}</textarea>

        {{#if create}}
        <div class="button-wrapper">
            <button type="submit">Tạo mới</button>
        </div>
        {{else}}
        <label for="createAt">Thời gian tạo:</label>
        <input type="datetime" id="createAt" name="createAt" value="{{formatDateTimeInput data.createAt}}" disabled>

        <div class="button-wrapper">
            <a href="{{data.id}}/delete">Xoá thông báo</a>
        </div>
        {{/if}}
    </form>
</div>